body {
    margin: 0;
    background-color: #bbbbbb;
    font-family: Arial;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

a {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    list-style: none;

}

.todosEstadios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.estadio{
    width: 600px;
    min-height: 150px;

    margin: 4px 0 4px 0 ;
    padding: 4px;

    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: clip;

    word-wrap: break-word;

    background-color: lightblue;

    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.51);
}

div.estadio:hover {
    background-color: #aaaaaa;
    cursor: pointer;
}

div.conteudo {

}

.form1 {
    align-items: center;
}

form {
    vertical-align: center;
    width: 20%;
    margin: auto;
    align-items: center;
}

input, select, button {
    width: 100%;
    display: inline-block;

}

select {
    width: 101%;
}

.agendado {
    font-size: 1.5em;
}

.negrito {
    font-weight: bolder;
}

.valoresOcultos, #id_valorFinal, #id_nome{
    display: none;
}

.buttonDelete {
    display: flex;
}

.buttonDelete > button {
    margin: 4px;
}

