<!doctype html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmar delete.</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
</head>
<body>
    <h1>Deletar Estádio</h1>
    <form method="post">
        {% csrf_token %}
        <h2>Você tem certeza que deseja remover o estádio {{ estadio.nomeEstadio }}?</h2>
        <button type="submit">Confirmar!!!</button>
    </form>
        <h3><a href="../">Cancelar...</a></h3>

</body>
</html>