{% extends 'base.html' %}

{% block title %} Formulário dos Estádios {% endblock %}
{% block atual02 %} atual {% endblock %} <!--Para definir qual é o link aberto na navbar-->

{% block content %}
{% if editar == True %}
<h1>Editando Estádios</h1>
{% else %}
<h1>Adicionando Estádios</h1>
{% endif %}
    <form method="POST">
        {% csrf_token %}

        {{form}}

        <button type="submit">Salvar...</button>
        {% if estadio %}
        <div class="botaoDelete">
            <img src="../static/img/excluir.png" onclick="window.location.href=`{% url 'deletarEstadio' estadio.id %}`" alt="Icone para deletar">
        </div>
        {% endif %}
    </form>
{% endblock %}
