{% extends "base.html" %}

{% block title %} Lista de Estádios {% endblock %}
{% block atual01 %} atual {% endblock %} <!--Para definir qual é o link aberto na navbar-->

{% block content %}

<h1>Lista de todos estádios cadastrados.</h1>
    <div class="todosEstadios">
        {% for estadio in estadios %}
            <div class="estadio">
                <div class="conteudo" onclick="window.location.href = `{% url 'escolherEstadio' estadio.id %}` ">
                    <ul>
                        <li>Cidade: {{estadio.cidade}}</li>
                        <li>Nome do Estadio: {{estadio.nomeEstadio}}</li>
                        <li>Dono do Campo: {{estadio.donoCampo}}</li>
                        <li>Endereço: {{estadio.enderecoCampo}}</li>
                        <li>Comprimento: {{estadio.comprimentoCampo}}m</li>
                        <li>Largura: {{estadio.larguraCampo}}m</li>
                        <li>Preço por hora: R${{estadio.precoHora}}</li>
                        <li><a href="{% url 'atualizarEstadio' estadio.id %}">Editar/Exluir Estádio</a></li>
                    </ul>
                </div> <!--class conteudo-->
            </div> <!--class estadio-->
         {% endfor %}
    </div> <!--class todosEstadios-->


{% endblock %}
