{% extends 'base.html' %}

{% block title %} Estádios Agendados {% endblock %}
{% block atual03 %} atual {% endblock %} <!--Para definir qual é o link aberto na navbar-->

{% block content %}

    <h1>Estádios Alugados</h1>
    <h2>Clique em algum para cancelar o agendamento</h2>

    <div class="todosEstadios">
        {% for estadio in estadios %}
            <div class="estadio" onclick="window.location.href = `{% url 'deletarEscolhido' estadio.id %}`">

                <span class="agendado">Estádio Alugado: <i class="nomeAgendado">{{ estadio.nome }}</i></span><br>
                <span class="agendado">Data escolhida: <i class="nomeAgendado">{{ estadio.data }}</i></span><br>
                <span class="agendado">Alugado por <i class="nomeAgendado">{{ estadio.horas }}</i> horas.</span><br>
                <span class="agendado">O valor final é de  <i class="nomeAgendado">R${{ estadio.valorFinal }}</i>           reais.</span>

        {% endfor %}
            </div>
    </div>
{% endblock %}