{% extends "base.html" %}

{% block title %} Lista de Estádios {% endblock %}
{% block atual01 %} atual {% endblock %} <!--Para definir qual é o link aberto na navbar-->

{% block content %}

<h1>Lista de todos estádios cadastrados.</h1>
    <div class="todosEstadios">
        {% for estadio in estadios %}
            <div class="estadio">
                <div class="conteudo" onclick="window.location.href = `{% url 'escolherEstadio' estadio.id %}` ">
                    <ul>
                        <li>Cidade: <i class="negrito">{{estadio.cidade}}</i></li>
                        <li>Nome do Estadio: <i class="negrito">{{estadio.nomeEstadio}}</i></li>
                        <li>Dono do Campo: <i class="negrito">{{estadio.donoCampo}}</i></li>
                        <li>Endereço: <i class="negrito">{{estadio.enderecoCampo}}</i></li>
                        <li>Comprimento: <i class="negrito">{{estadio.comprimentoCampo}}m</i></li>
                        <li>Largura: <i class="negrito">{{estadio.larguraCampo}}m</i></li>
                        <li>Preço por hora: <i class="negrito">R${{estadio.precoHora}}</i></li>
                        <li><a href="{% url 'atualizarEstadio' estadio.id %}"><i class="negrito">Editar/Exluir
                            Estádio</i></a></li>
                    </ul>
                </div> <!--class conteudo-->
            </div> <!--class estadio-->
         {% endfor %}
    </div> <!--class todosEstadios-->


{% endblock %}
