{% extends 'base.html' %}

{% block title %} Formulário dos Estádios {% endblock %}
{% block atual02 %} atual {% endblock %} <!--Para definir qual é o link aberto na navbar-->

{% block content %}
<h1>Adicionando ou Editando Estádios</h1>

    <form method="POST">
        {% csrf_token %}

        {{form}}

        <button type="submit">Salvar...</button>
        {% if estadio %}
        <button type="button" onclick="window.location.href=`{% url 'deletarEstadio' estadio.id %}`">Deletar!</button>
        {% endif %}
    </form>
{% endblock %}
