<!doctype html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estadios Agendados</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'listaEstadios' %}">Estádios</a></li>
                <li><a href="{% url 'adicionarEstadio' %}" class="novoEstadio">Adicionar</a></li>
                <li><a href="#"  class="atual">Estádios Agendados</a></li>
                <li><a href="#" class="login">Login</a></li>
            </ul>
        </nav>
    </header>
    <h1>Estádios Agendados</h1>

    {% for estadio in estadios %}
        Tem algum estadio marcado para dia: {{ estadio }}<br>
    {% endfor %}
</body>
</html>