<!doctype html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Preço Final</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'listaEstadios' %}">Estádios</a></li>
                <li><a href="{% url 'adicionarEstadio' %}" class="novoEstadio" class="atual">Adicionar</a></li>
                <li><a href="{% url 'estadiosEscolhidos' %}">Estádios Agendados</a></li>
                <li><a href="#" class="login">Login</a></li>
            </ul>
        </nav>
    </header>
    <h1>Estádio {{ estadio.nomeEstadio }}</h1>
    <h2>O preço por hora é R${{ estadio.precoHora }}</h2>
    <form method="POST">
        {% csrf_token %}
        Insira -> {{ estadio.nomeEstadio }} <br>
        {{form}}
        <button type="submit">Agendar</button>
    </form>

    <script>

    </script>
</body>
</html>